/* Documento css */
body{
    background-color: #E6E6FA
}
*{
	margin: 0px;
	padding:0px;
}
.menu {
	list-style-type: none;
	float:left;
	width: 100%;
	vertical-align: center;
}
.menu li:last-child{
	border-bottom-right-radius: 3px;
	border-right-color: #0A940A;
}
.menu li:first-child{
	border-bottom-left-radius: 3px;
}
.menu li { 
	position: relative;
	float: left;
	border-right: 1px solid #FFF;
	padding-left: 15px;
	padding-right: 15px;
	background-color:#0A7A0A;
	height: 0px 20px 0px;
	line-height: 28px;
}
.menu li a {
	display:inline;	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration: none;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}
.menu li ul {
	list-style-type: none;
	position:absolute;		
	top: 30px;
	display: none;
	margin-left: -15.5px;

}
.menu li:hover ul, .menu li ul li:hover ul, .menu li .over ul, .menu li ul li .over ul{
	display: block;

}
.menu li ul li { 
	border: 1px solid #0A7A0A;
	display:inline;
	width: 700%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.menu li ul li a {
	text-align: center;
	margin-left: -15px;
}
.menu li ul li:first-child {
	border-bottom-left-radius: 0px;
}
.menu li ul li:last-child {
	border-bottom-left-radius: 3px;
}
ul, li {
	display: inline;
	height: 100%;
	width: 12.017%;
	text-align: center;
	border-right-color: #0A7A0A;
}
body{
	width: 100%;
}
ul li:hover{
	background-color: #FF0000;

}