.btn{
 font-family:arial;
 font-size:10px;
 text-transform:uppercase;
 border:none;
 padding:14px;
 cursor:pointer;
 display:inline-block;
 text-decoration:none; 

}
.btn-green{
 background:green;
 color:#fff;
 box-shadow:0 5px 0 #003f00; 
}
.btn-green:hover{
 background:#000000;
 color:#fff;
 box-shadow:0 5px 0 #003f00;
}
.btn-green:active{
 position:relative;
 top:5px;  
 box-shadow:0 5px 0 #003f00;
}
a.btn.btn-green{
  width:39px;
  height:19px;
}
table {
	margin-left: 0px;
	vertical-align: super;
}
table tr td{
	padding: 1px 5px;
}
.exerc {
	padding-left: 25px;
}