html, body {
	height: 100%;
	margin: 0px;
}
nav, footer {
	width: 100%;
}
nav {
	display: inline-block;
}
header {
	background-color: #0A940A;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	height: 110px;
	text-align: left;
}
section {
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: lightgrey;
}
footer {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: white;
    background-color: #0A940A;
	text-align: center;
	font-size: 13px;
	width: 100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}