*{
  margin: 0px;
  padding: 0px;
    
}
p{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-indent: 50px;
  text-align: justify;
}

h1{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;    
  text-align: justify;
  letter-spacing: 1px;
  padding-left: 20px;
  color:#228B22;
}
h2{
  line-height: 200%;
    
}
h2, h3, h4{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-left: 20px;
}
