html, body {
	height: 100%;
	font-family: arial;
}
.geral {
	min-height: 100%;
	position: relative;
	width: 100%;
}
.banner {
	background-color: #787878;
	height: 110px;
	color: white;
	font-size: 50px;
}
.menu {
	background-color: #f00;
	margin-top: 5px;
	border: 1px solid;
	height: 40px;
}
.corpo {
	background-color: #8599f9;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid;
	height: auto;
	width: 100%;
	
}
.rodape {
	color: white;
    background-color: #787878;
	border: 1px solid;
	text-align: center;
	font-style: italic;
	font-size: 13px;
	padding-bottom: 8px; 
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
}