html, body {
	height: 150%;
	font-family: arial;
}
.geral {
	min-height: 100%;
	position: relative;
	width: 100%;
}
.banner {
	
	height: 10px;
	border-radius: 3px;
	
}

.rodape {
	color: white;
    background-color: #228B22;
	border: 1px solid;
	text-align: center;
	font-style: italic;
	font-size: 13px;
	padding-bottom: 8px; 
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}